*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  color: #fa9191;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0px 2px 4px #ffe9c5;
  margin: 70px;
}

.imgstyle{
  display: flex;
  justify-content: center;
}

.imgstyle img {
  width: 200px;
  height: 300px;
 
}